@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    box-sizing: border-box;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('./logo.png') center no-repeat rgb(82, 249, 255);
}

header{
  font-family: "Hina  Mincho", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0dcaf0;;
}

.circle{
    text-align: center;
}

.dot {
     background: aqua;
    background-size: cover;
    margin: auto;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    display: block;
    text-align: center;
    position: relative;

    .dot1{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background-color: white;
        top: 3rem;
        left: 3rem;
        position:relative;
        text-align: center;
        vertical-align: middle;

        .content{
            color:black;
            width:6rem;
            height: 6rem;
            top: 2.5rem;
            left: 2rem; 
            position: relative;
            text-align: center;
            font-size: 3rem;
            word-wrap: break-word;
        }
      }
  }

 .buttons{
     text-align: center;
     display:flex;
     justify-content:center;
     button{
         width: 10rem;
         margin-top: 20px; 
         margin-left: 20px;
         margin-right: 20px;      
     }
     button:focus{
         box-shadow:none;
         color:white;
     }
     button:hover{
         color: white;
     }
 } 

 .entries {
     width: 80%;
     margin-top: 20px;
     margin-left: 10%;
     margin-bottom: 20px;
     text-align: center;
     .content{
         font-size: 2rem;
         color: #0dcaf0;
         font-family: 'Poppins';
     }

      button{
          color: white;
      }
     button:focus{
         box-shadow:none;
     }
     button:hover{
         color: white;
     }
 }