@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(252, 239, 124);
    box-sizing: border-box;
}


header{
  font-family: "Hina  Mincho", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color:coral;
}

.circle{
    text-align: center;
}



.dot {
    background: rgb(218,46,46);
    background: linear-gradient(180deg, rgba(218,46,46,1) 24%, rgba(255,183,0,1) 100%);
    background-size: cover;
    margin: auto;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    display: block;
    text-align: center;
    position: relative;

    .dot1{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background-color: rgb(252, 239, 124);;
        top: 3rem;
        left: 3rem;
        position:relative;
        text-align: center;
        vertical-align: middle;

        .content{
            color:GREEN;
            width:6rem;
            height: 6rem;
            top: 2rem;
            left: 2rem; 
            position: relative;
            text-align: center;
            font-size: 3rem;
            word-wrap: break-word;
        }
      }
      
  }

 .buttons{
     text-align: center;
     display:flex;
     justify-content:center;
     button{
         width: 10rem;
         margin-top: 20px; 
         margin-left: 20px;
         margin-right: 20px;      
     }
     button:focus{
         box-shadow:none;
     }
 } 

 .entries {
     width: 80%;
     margin-top: 20px;
     margin-left: 10%;
     margin-bottom: 20px;
     text-align: center;
     .content{
         font-size: 2rem;
         color: goldenrod;
     }
     button:focus{
         box-shadow:none;
     }
 }